[submodule "sources/meta-zybo-z7-10"]
	path = sources/meta-zybo-z7-10
	url = https://github.com/MainForm/meta-zybo-z7-10.git
[submodule "sources/meta-rtlwifi"]
	path = sources/meta-rtlwifi
	url = https://github.com/EmbeddedAndroid/meta-rtlwifi.git
